<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header") %>
		<link
			rel="stylesheet"
			href="/stylesheets/index.css"
		/>
	</head>
	<body>
		<div class="topSpacer">DRAFT ATLAS</div>
		<div class="main">
			<div id="launchPanel">
				<button class="button-30">Demo</button>
			</div>
		</div>
		<div class="bottomSpacer"></div>
		<h1>Testing Links</h1>
		<%- include("testingLinks") %>
	</body>
</html>
