<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header") %>
		<link
			rel="stylesheet"
			href="/stylesheets/index.css"
		/>
	</head>
	<body>
		<div class="topSpacer">TOP SPACER</div>
		<div class="main">MAIN SPACER</div>
		<div class="bottomSpacer">BOTTOM SPACER</div>
		<h1>Testing Links</h1>
		<%- include("testingLinks") %>
	</body>
</html>
