<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header") %>
		<link
			rel="stylesheet"
			href="/stylesheets/index.css"
		/>
	</head>
	<body>
		<div class="topSpacer"></div>
		<div class="main">
			<div id="launchPanel">
				<button id="sike">Launch Prototype</button>
			</div>
		</div>
		<div class="bottomSpacer"></div>
		<%- include("./partials/footer") %>
	</body>
</html>
