<!DOCTYPE html>
<html>
	<head>
		<%- include("./title") %>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css"
		/>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<h2>Testing Links</h2>
		<%- include("testingLinks") %>
	</body>
</html>
