:root {
	--dark2: #231942;
	--dark1: #5e548e;
	--light1: #9f86c0;
	--light2: #be95c4;
	--light3: #e0b1cb;
}

* {
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
}

.panel {
	background-color: var(--light2);
	border-radius: 1rem;
	border-width: 0;
	box-shadow: var(--dark2) 0 0.1rem 0.2rem, var(--dark2) 0 0.5rem 1rem 0rem,
		var(--light2) 0 -0rem 0 inset;
	color: var(--dark2);

	padding-left: 1rem;
	padding-right: 1rem;

	position: relative;
	transition: box-shadow 0.15s, transform 0.15s;
}
input[type="submit"],
button,
a > button {
	background-color: var(--light3);
	border-radius: 1rem;
	border-width: 0;

	color: var(--dark2);

	padding-left: 1rem;
	padding-right: 1rem;

	position: relative;
	transition: box-shadow 0.15s, transform 0.15s;
}
input[type="submit"]:hover,
button:hover,
a > button:hover {
	transform: translateY(-0.1rem);
}
input[type="submit"]:active,
button:active,
a > button:active {
	transform: translateY(0.1rem);
}

button#sike:hover,
a > button#sike:hover {
	transform: translateY(-10rem);
}
button#sike:active,
a > button#sike:active {
	transform: translateY(10rem);
}
