/* :root {
	--dark2: #2c061f;
	--dark1: #374045;
	--light1: #d89216;
	--light2: #e1d89f;
} */

:root {
	--dark2: #231942;
	--dark1: #5e548e;
	--light1: #9f86c0;
	--light2: #be95c4;
	--light3: #e0b1cb;
}

body {
	display: grid;
	grid-template-areas:
		"topSpacer"
		"main"
		"bottomSpacer"
		"footer";
	grid-template-rows: 20vh 60vh 20vh;
	grid-template-columns: 100vw;
	background-color: var(--dark2);
}

#footer {
	grid-area: "footer";
	display: flex;
	justify-content: center;
}

#footer > a > button {
	background-color: var(--light3);
	color: var(--dark2);
}
.topSpacer {
	grid-area: "topSpacer";
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.main {
	grid-area: "main";
	display: flex;
	justify-content: center;
	align-items: center;
}
#launchPanel {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 2vh;
	width: 80vw;
	height: 24vh;
}
#launchPanel > button {
	width: max-content;
	height: max-content;
	padding: 2vh;
}

.bottomSpacer {
}
