:root {
	--dark2: #231942;
	--dark1: #5e548e;
	--light1: #9f86c0;
	--light2: #be95c4;
	--light3: #e0b1cb;
}
body {
	display: grid;
	grid-template-rows: 95fr 5fr;
	grid-template-areas:
		"content"
		"return";
	grid-template-columns: 100vw;
	background-color: var(--dark2);
	color: var(--light3);
}

.content {
	grid-area: "content";
	display: grid;
	grid-template-rows: 90vh 10vh;
	grid-template-areas:
		"playerDisplay"
		"newPlayer";
	align-content: center;
	justify-content: center;
}

.newPlayer {
	grid-area: "newPlayer";
}

.playerDisplay {
	grid-area: "playerDisplay";
}

table {
	max-width: 60vw;
}
tr {
	display: flex;
	align-items: baseline;
	width: max-content;
}

th,
td {
	display: flex;
	box-sizing: border-box;
	outline: dotted 0.1rem var(--light2);
	padding: 0.25rem 1rem 0.25rem 1rem;
	width: 20rem;
	height: auto;
}

td.buttons {
	display: flex;
	justify-content: center;
	justify-items: center;
}
input {
	width: auto;
	height: auto;
}

#return,
div #return {
	grid-area: "return";
	display: flex;
	align-content: center;
	justify-content: center;
}
