<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header") %>
		<link
			rel="stylesheet"
			href="/stylesheets/team.css"
		/>
	</head>
	<body>
		<div class="content">
			<div class="playerDisplay">
				<table>
					<thead>
						<tr>
							<th>Player Name</th>
							<th>Player Role</th>
							<th>Player Actions</th>
						</tr>
					</thead>
					<tbody>
						<% players.forEach(player => { %>
						<tr>
							<td><%= player.playerName %></td>
							<td><%= player.ROLE %></td>
							<td><a herf="/team/delete/<%=player.playerName%>"><button>Delete Player</button></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
			<div class="addPlayer">
				<form
					action="/team/add"
					method="post"
				>
					<input
						name="playerName"
						type="text"
					/>
					<select name="ROLE">
						<option value="TOP">TOP</option>
						<option value="JNG">JUNGLE</option>
						<option value="MID">MID</option>
						<option value="BOT">BOT</option>
						<option value="SUP">SUP</option>
					</select>
					<input
						type="submit"
						value="Add Player"
					/>
				</form>
			</div>
		</div>
		<div id="return">
			<a href="/">
				<button>Return to Home</button>
			</a>
		</div>
	</body>
</html>
