<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header") %>
		<link
			rel="stylesheet"
			href="/stylesheets/team.css"
		/>
	</head>
	<body>
		<div class="content">
			<table>
				<tr>
					<th>Player Name</th>
					<th>Player Role</th>
				</tr>
			</table>
		</div>
		<div id="return">
			<a href="/">
				<button>Return to Home</button>
			</a>
		</div>
	</body>
</html>
